.layoutWrapper {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  margin-left: 228px;
  flex: 1;
  background-color: #090707;
  min-height: 100vh;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #090707;
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
}

