.layoutWrapper {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  margin-left: 250px;
  flex: 1;
  background-color: #090707;
  min-height: 100vh;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #090707;
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
}

@media (max-width: 1024px) {
  .mainContent {
    margin-left: 0;
    padding-top: 80px;
  }
}
